<?xml version="1.0" encoding="UTF-8"?>
<config:GameConfig xmi:version="2.0" xmlns:xmi="http://www.omg.org/XMI" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:config="platform:/plugin/no.hal.pg.config/model/config.ecore" xmlns:exampletask-config="platform:/plugin/no.hal.pg.exampletask.config/model/exampletask-config.ecore">
  <tasks xsi:type="exampletask-config:ExampleTaskConfig" question="Are you prepared for the exam?"/>
  <players>
    <items xsi:type="config:InfoItemConfig" description="Item 3"/>
  </players>
  <items xsi:type="config:InfoItemConfig" description="Item 1"/>
  <items xsi:type="config:InfoItemConfig" description="Item 2"/>
</config:GameConfig>
