<?xml version="1.0" encoding="UTF-8"?>
<config:GameConfig xmi:version="2.0" xmlns:xmi="http://www.omg.org/XMI" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:config="platform:/plugin/no.hal.pg.config/model/config.ecore" xmlns:exampletask-config="platform:/plugin/no.hal.pg.exampletask.config/model/exampletask-config.ecore" xmlns:osm="http://www.openstreetmap.org/v06/osm.ecore">
  <tasks xsi:type="exampletask-config:ExampleTaskConfig" question="Qui vadis?"/>
  <tasks xsi:type="exampletask-config:ExampleTaskConfig"/>
  <players name="p1"/>
  <players name="p2"/>
  <items xsi:type="config:InfoItemConfig" name="InfoItem1">
    <location xsi:type="osm:GeoLocation" latitude="63.41676" longitude="10.404976"/>
  </items>
  <taskProxies players="//@players.0"/>
  <taskProxies ref="//@tasks.0" requiresFinished="//@taskProxies.2 //@taskProxies.0" requiresItems="//@taskProxies.2/@rewardItems.0"/>
  <taskProxies players="//@players.1" requiresItems="//@itemProxies.0">
    <rewardItems ref="//@items.0"/>
  </taskProxies>
  <itemProxies/>
</config:GameConfig>
